extends ../layout/auth

block content
	.wrapper
			include ../includes/auth-brand
			
			if user
				.note
					p
						| Hi #{user.name.first},
						br
						| you're already signed in.
					.toolbar
						if user.isAdmin
							a(href='/admin').btn Admin
						a(href='/logout').btn Logout
			
			else
				form(method="post", novalidate).login-form
					input(type='hidden', name=csrf_token_key, value=csrf_token_value)
					.form-group
						//- label(for='email') Email
						input(type='email', name='email', id='email', value=submitted.email, placeholder='email').form-control
					.form-group
						//- label(for='password') Password
						input(type='password', name='password', id='password', placeholder='password').form-control
					
					button(type='submit').btn Login
				
				//- TODO generic forgotten password functionality
				//- a(href=js).btn.btn-link Forgot Password?
				
block js
	//- Only focus the field after the shake animation is complete
	if messages && messages.error.length
		script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
	else
		script try { document.getElementById('email').focus(); } catch(e) {};
