if Array.isArray(logo)
	a(href='/').logo: img(src=logo[0], width=logo[1], height=logo[2], alt=brand)
else if logo
	a(href='/').logo: img(src=logo, alt=brand)
else
	a(href='/').logo: img(src='/assets/img/logo.svg', width=140, height=140, alt=brand)